.DS_Store
*.aux
*.acn
*.acr
*.alg
*.bbl
*.glg
*.glo
*.gls
*.glsdefs
*.ilg
*.ist
*.ioAfigure
*.ioAtable
*.iof
*.log
*.lot
*.nlo
*.nls
*.out
*.xml
*.gz
*.toc
*.blg
*.loAfigure
*.loAtable
*.lof
PhD_thesis_template-blx.bib
PhD_thesis_template.pdf
